.smooth-dnd-container *{
  box-sizing: border-box;
}

.smooth-dnd-disable-touch-action{
  touch-action: none;
}

.smooth-dnd-container{
  position: relative;
}

.smooth-dnd-container.vertical{
}

.smooth-dnd-container.horizontal{
  white-space: nowrap;
}

.smooth-dnd-container.horizontal .smooth-dnd-draggable-wrapper{
  height: 100%;
  display: inline-block;
}


.smooth-dnd-draggable-wrapper {
  overflow: hidden;
}

.smooth-dnd-draggable-wrapper.animated{
  transition: transform ease;
}

.smooth-dnd-ghost {   
  
}

.smooth-dnd-ghost *{
  box-sizing: border-box;
}

.smooth-dnd-ghost.animated{
  transition: all ease-in-out;
}

/* .smooth-dnd-no-user-select{
  user-select: none;
}

.smooth-dnd-stretcher-element{
  background-color: transparent;
}

.smooth-dnd-stretcher-element.vertical{
  height: 1px;
}

.smooth-dnd-stretcher-element.horizontal{
  height: 100%;
  display: inline-block;
} */